appdirs==1.4.4
audioread==3.0.0
ffmpeg-python==0.2.0
filelock==3.8.0
fonttools==4.38.0
fsspec==2022.10.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-cs==2.0.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
gruut-lang-it==2.0.0
gruut-lang-nl==2.0.2
gruut-lang-pt==2.0.0
gruut-lang-ru==2.0.0
gruut-lang-sv==2.0.0
huggingface-hub==0.10.1
HyperPyYAML==1.1.0
kiwisolver==1.4.4
librosa==0.8.0
num2words==0.5.12
pytube==12.1.0
pyworld==0.2.10
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1666772684107/work
regex==2022.3.2
resampy==0.4.2
rich==12.6.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn==1.1.2
scipy==1.9.3
sentencepiece==0.1.97
simpleaudio==1.0.4
soundfile==0.11.0
speechbrain==0.5.13
streamlit==1.15.2
transformers==4.23.1
TTS==0.8.0
umap-learn==0.5.1
unidic-lite==1.0.8
webencodings==0.5.1
Werkzeug==2.2.2
whisper @ git+https://github.com/openai/whisper.git@9f70a352f9f8630ab3aa0d06af5cb9532bd8c21d

